@import "../../vars.css";

.container { 
    display: flex;
    margin-top: 50px;
    height: 300px;
    width: 500px;
    background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    align-content: center;
    
}

.container2{
    color: var(--color-text);
    margin: 20PX;
    display: flex;
    flex-direction: row;
    margin-left: -8%;
    margin-right: 5%;
    padding: 30px;
    margin-top: 35px;
    gap: 10px;
   width: 450px;
    

}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -10%;
    color: var(--color-text);
}

.title {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-left: 210%;
    margin-right: 210%;

}

.image{
    margin-bottom: 40px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.text{
    font-size: 20px;
    font-weight: 400;
    width: 300px;
    margin-top: 10px;
    margin-left: 20px;
    text-align: justify;
    /* background-color: blue; */
}

.unorderedList{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 400;
    width: 300px;
    text-align: justify;
}